[2020-04-04 04:34] tplooker opened #1 "Define BLS 12-381 public key"
BBS+ Signatures require a pairing friendly elliptic curve, for our implementation we have chosen to use BLS12-381. For this we must define the public key format as it will appear in a public key block of a DID document. We must also stipulate because BLS12-381 is a pairing friendly curve which sub group (G1 or G2) we will have for public keys vs which we have for signatures.

[2020-04-04 04:36] tplooker opened #2 "Define BLS signature/commitment format"
In BBS+ signature a commitment from the subject is included which is a commitment to their private key (or linked secret). We must define this format such that it could be represented in a DID document.

One of the active decisions is whether we can use a known generator point for this, such that the generator point does not have to be communicated as apart of the signature. Similar to how BLS and

[2020-04-04 04:37] tplooker opened #3 "Included rationale for `requiredRevealStatements`"
In a BBS Signature we must define the term `requiredRevealStatements` which communicates which statments must be revealed when generating a proof as according to the issuer.

[2020-04-04 04:38] tplooker opened #4 "Define BBSSignature2020"
Define the representation of a BBS Signature as a linked data proof.

[2020-04-04 04:39] tplooker opened #5 "Define BBSProof2020"
Define the representation of a BBS Proof as a linked data proof.

Essentially a BBS proof is a proof of knowledge of a signature, which reveals certain messages from the original BBS Signature.

[2020-04-04 04:42] tplooker opened #6 "Add support for domain proof"
As a relying party who receives BBS Proofs, I must be able to enable a means in which to detect whether I have seen the credential that has been used to derive the proof before. This cannot be achieved using globally correlatable identifiers, instead a commitment to the linked secret should be generated where the generator value is the has of the relying party identifier. This enables the relying

[2020-04-04 04:48] tplooker opened #7 "Include definition of how we use hash2curve"
When generating the generator to sign the mesages we use the hash2curve algorithm, using this must be defined in the specification

[2020-04-18 21:03] tplooker opened #10 "The application of blank node identifiers"
In RDF canonicalisation/normalisation, one of the trickiest parts of the algorithm is dealing with [blank nodes](https://json-ld.github.io/normalization/spec/index.html#dfn-blank-node). [RDF Data Set Normalisation](https://json-ld.github.io/normalization/spec/index.html) defines a way in which to allocate identifiers for blank nodes deterministically for normalization.

However the algorithm does

[2020-04-19 11:09] #1 closed, assigned to nobody

[2020-04-26 08:59] kdenhartog opened #15 "Specify the kind of base58 encoding used"
We should modify base58 to specify base58btc encoding. Unfortunately, we don't have a normative reference here, but there is a ietf draft available here.

https://tools.ietf.org/html/draft-msporny-base58-01

[2020-04-26 09:00] kdenhartog opened #16 "Should we switch signature format to base64url without padding?"
Should we switch signature format to base64url without padding? Right now base64 is being used which is not a common encoding scheme within the space. I think it would be useful for us to switch.

[2020-04-26 09:03] kdenhartog opened #17 "Signature type doesn't specify if it's the `+` version"
Currently the signature type is defined as `BBSSignature2020` which is a uniquely different signature scheme then the one used which is BBS+ signature scheme. If we don't expect the non modified version to be used.

I'd suggest renaming to `BBSPlusSignature2020` in this case to avoid actually using a `+` character which may lead to odd behaviors in implementations across different programming lang

[2020-04-28 19:33] OR13 opened #20 "Add link to spec"
to github repo and readme:

https://mattrglobal.github.io/jsonld-signatures-bbs-spec/

[2020-04-28 20:14] #20 closed

[2020-05-01 04:45] tplooker opened #22 "Revealed statements representation"
Currently in a `BBSSignatureProof2020` we represent the index's of the messages that were revealed and the positions they occupied in the originally signed message set as an array, see [here](https://mattrglobal.github.io/jsonld-signatures-bbs-spec/#revealed-indicies) for more details. However a more compact representation of this that could be included in the actual `proof` value of the proof as

[2020-05-01 06:10] kdenhartog commented on #16
Correction, after realizing this isn't using JWS detached signatures like other LD Sigs libraries. In either case, I still find it useful to stick with a common encoding format throughout which suggests using base64url w/o padding or base58 which are used in other parts of the stack commonly.

[2020-05-01 06:17] kdenhartog commented on #22
The proof example you show here doesn't seem to align with what you're showing in the bytes as the example. `0000000000100100111011101100000111111111` is longer than 16 bytes and 24 bytes (total number of statements), so I'm not sure how this is being bunched together. In any case If we're going to prepend this on to the proof, we need to either indicate length or set a fixed length as well so we

[2020-05-01 06:24] tplooker commented on #22
So this example is showing a 16bit fix length representation of the totalStatements, followed by a bit string of length indicated by the first 16bits so it should be 16+24 = 40 bits

[2020-05-01 06:27] tplooker commented on #22
E.g the first 16bit indicate there are 24 statements therefore the next 24 bits indicate the reveal, or not revealed statuses of the messages

[2020-05-01 06:33] tplooker commented on #22
This analagous to how a message length prefix is pre-appended in the serializations of protocol buffers.

[2020-05-01 14:03] OR13 commented on #22
I like this suggestion, the more we can hide the details the better:)

[2020-05-01 17:13] kdenhartog commented on #22
So to process this we'll need to parse off the first 16 bytes, identify the variable length following that and then parse off X trailing bytes? Seems easy enough to do and a worth improvement now that I understand it clearly.

[2020-05-01 20:25] tplooker commented on #22
If by bits you mean bytes then absolutely :)

[2020-05-01 20:29] mikelodder7 commented on #22
I'm in favor. Never fear having more than 64K statements, the code could probably handle it but I don't think its realistic.

[2020-05-04 20:24] tplooker commented on #22
The outstanding question here to address is that the ordering of the statements in the normalized form of the derived proof is preserved in reference to the order of the statements signed in the original proof.

For instance, if some of the statements in the derived proof are re-ordered when normalized then the proof validation.

This is related to #10 and the guarantees we will have about the nor

[2020-05-06 20:08] tplooker commented on #17
@mikelodder7 is best position to answer this, the conversation we had was that calling them BBS is accurate.

[2020-05-06 20:08] #5 closed

[2020-05-06 20:09] #4 closed

[2020-05-06 20:09] #7 closed

[2020-05-06 22:59] mikelodder7 commented on #17
@kdenhartog what do you mean their vastly different?

[2020-05-09 21:53] tplooker opened #23 "Required reveal statements"
As per section [4.2.5](https://mattrglobal.github.io/jsonld-signatures-bbs-spec/#required-reveal-statements) the term `requiredRevealStatements` is defined that allows the signer of the original assertion to indicate which statements in the sign assertion must always be revealed in a derived proof. The statement is signed by the issuer and a verifier of a derived proof must check for its existence

[2020-05-10 14:11] OR13 commented on #23
I suggest `@json` literals

[2020-05-11 19:49] tplooker commented on #23
The alternative is to use a bit stream stringified as base64, for example say there are 10 statements and the issuer would like to enforce the reveal of the first 5 statements this bit stream would be the following `1111100000` which is the base64 stringified as an attribute in the proof that must be carried through in any derived proofs

[2020-05-11 19:50] tplooker commented on #23
This would be more in-line with how we are proposing to simplify revealed statements representation in #22

[2020-05-11 20:19] tplooker opened #25 "Use proofValue as the the value for the proof"
Currently the raw proof value is represented using the `proof` attribute, this should be changed to use the `proofValue` attribute

E.g

[code]

Changed to

[code]

[2020-05-12 16:23] jonnycrunch opened #27 "Security audit on this approach"
Just curious who will be auditing this approach.  Looking at the crate on BBS+ and Ursa, this appears to be an algorithmic association of the blinded attributes to the pair-wise curve, which seems like a layer on top of the BBS+ cryptography.  If this becomes a work item, how will the approach be audited for vulnerabilities?

[2020-05-14 00:27] tplooker commented on #27
@mikelodder7 are you able to respond to this query?

[2020-05-14 00:37] mikelodder7 commented on #27
Auditing in what way?
The cryptography or the higher layer?

[2020-05-14 00:46] mikelodder7 commented on #27
The cryptography has been audited by the hyperledger maintainers which include cryptographers and crypto engineers. I don’t know who will audit the Json LD layer

[2020-05-14 22:23] tplooker opened #28 "Require certain statements to be revealed in a proof"
Cross linking a relevant issue and discussion on this topic from a reference implementation of the spec, see [here](https://github.com/mattrglobal/jsonld-signatures-bbs/issues/12).

In general as the draft stands we have already assumed option 2 as the approach, but the background discussion here is good context.

[2020-05-14 22:27] tplooker commented on #27
@jonnycrunch are you able to stipulate what additional layer you are referring to? If it is about the BLS to BBS+ public key conversion where we derive the generators for the signed messages from the BLS public key, then we have already has this approach review by multiple cryptographers including the team responsible for the latest publications around BBS+ signatures

[2020-05-18 17:49] manicprogrammer opened #29 "Use of indices may leak information"
The use of indices for Revealed Indices and the TotalStatements value leaks information.

This leakage removes or undermines any zero knowledge claims. It may not be the intent of this specification to minimize leakage and if so this issue can be disregarded.

The use of the Revealed Indices  leaks information- it proves not only that information was not disclosed but in some cases what informatio

[2020-05-18 21:13] tplooker commented on #29
@manicprogrammer, thanks for raising it, I had identified this before, however it slipped my mind to add a note in the privacy considerations section of this specification.

I would probably further clarify the issue you raise with the following.

The feasibility of a verifier discerning additional information about the un-revealed statements in a proof, based on the revealed indicies and total st

[2020-05-18 23:57] manicprogrammer commented on #29
Of course. I added `may` into the title as requested but it is definite that by design the use of indices **always** provides information beyond the specific statements chosen to be disclosed; it is just a matter of how much information. The indices explicitly states that information was redacted and it may leak more specific information due to providing positional and quantitative details about b

[2020-05-19 00:27] NickDarvey commented on #29
I feel like I might be missing something but would any of this be resolved by making all fields mandatory of schemas using this kinda proof?
Like in your `dependents` example, everyone would have that field it's just some would be `[]` (or for other kinds of fields, `null`).

Is there something about why that is semantically incorrect? Would it help here?

[2020-05-19 03:50] tplooker commented on #29
@manicprogrammer, thanks and also to clarify, I did not mean my comment to give the impression that the point you raise is in anyway insignificant or not valid, it is important for us to make sure that these limitations and considerations are known and highlighted in the spec.

To an extent, as is the case with any technology there are a recognised set of boundaries that it can provide within and

[2020-05-19 03:55] tplooker commented on #29
@NickDarvey you could, however this would cause a bloat issue and add in complexity in the issuance and presentation protocols where the complexity would defeat the value being pursued.

For example say you are signing an array, what number of elements do you choose to sign as a default value that when populated in other assertions doesn't lead to the leakage outlined?

[2020-05-19 04:24] NickDarvey commented on #29
Ahh I didn't realize you could selectively disclose items in an array. Understood!

[2020-05-19 10:19] tplooker commented on #22
This implementation has been made in [node-bbs-signatures](https://github.com/mattrglobal/node-bbs-signatures) and will be available in the 0.8.0 release, the required changes to [jsonld-bbs-signatures](https://github.com/mattrglobal/jsonld-signatures-bbs) are in progress

[2020-05-19 12:07] manicprogrammer commented on #29
All good. My goal in this issue is to ensure some limitations, assumptions, and boundaries are recognized to be mitigated or documented for the scheme. The goal of the issue is not to ensure they don't exist. No scheme has perfect everything; there are always trade-offs and why different schemes for different purposes are needed.

[2020-05-19 12:13] manicprogrammer commented on #29
Is the resolution action for this issue to be that the assumptions (such as explicitly providing shape information and existence of non-disclosed data is within the implementers data handling constraints) and warnings/limitations (whatever word is proper) about how leakage can occur?

[2020-05-19 21:02] manicprogrammer commented on #29
To clarify just in case it is not clear- when I say "The goal of the issue is not to ensure they don't exist." It's not the goal but I clearly think it is a significant limitation in privacy assurances if the scheme is formed in this way and could mute any ability for it to be adopted for anything but the most narrow scopes.

[2020-05-19 21:31] tplooker commented on #10
An alternative proposal suggested by @dlongley is to have a mapping for any BN identifiers in the proof to prevent the need for special skolem URIs (e.g `urn:bnid:_:c14n1`).

This mapping must map the blank node identifiers allocated to the statements in the canonical form of the derivedProof back to what their blank node identifiers were in the originally signed proof.

Because all blank nodes ha

[2020-05-19 21:45] tplooker commented on #29
@manicprogrammer I'm more than open to suggestions that would help to improve the scheme in this aspect, provided they do not imposed an exponential increased in the complexity of the scheme. I do think this issue is highlighting at the very least that a section in the spec must be devoted to describing a set of considerations around this topic and potential mitigants that can be used, such as how

[2020-05-19 21:50] dlongley commented on #10
@tplooker,

Yes. I also think that the mapping could be embedded in the `proofValue` -- allowing for some more compact representation, i.e., it doesn't have to be broken out at the JSON level.

[2020-05-19 21:58] tplooker commented on #10
@dlongley Ah interesting that would further simplify the representation, we will review that as an idea

[2020-05-19 22:25] #22 closed

[2020-05-19 22:25] #25 closed

[2020-05-19 22:28] tplooker commented on #29
Also as a side note for those interested in this issue, you may have noticed #30 removing the fields `totalStatements` and `revealedIndices `, this does not mean that information has gone away it is just now encoded into the actual `proofValue`.

[2020-05-19 22:36] tplooker commented on #10
@dlongley did you have any thoughts on how this binary encoding should be done? I.e a custom binary format or should we be using a more formalised method like protocol buffers or message pack?

The simplest way I see doing this would be somthing of the following

proofValue : "`base64(int16(blankNodeIdentiferMap.length)|int16(blankNodeIdentiferMap[0])..|..int16(blankNodeIdentiferMap[blankNodeIdent

[2020-05-19 22:56] dlongley commented on #10
My vote for binary representations is CBOR. There is likely to be significant work in the future on CBOR-LD (including representing VCs using that format) and it would be best not to introduce yet another competing format with protocol buffers/etc.

[2020-05-19 23:22] manicprogrammer commented on #29
@tplooker I'll look at the code which I have not dug into fully. I suspect you would recognize any reasonable means of doing that already and it's just a trade-off choice between size, complexity and other parameters. So, NO, I don't have a ready proposal for a solution or even know if there is one that would meet the other requirements. It would almost certainly be more verbose and much a much la

[2020-05-20 23:00] manicprogrammer commented on #29
As a final follow up on this I did review the pertinent parts of the code and after also reviewing the Rust BBS crate documentation and the papers it is based on - as you know it's inherent in the BBS+ implementation in use to take as part of the key construction a value for the discrete number of messages that key will sign and the BBS+ implementation further requires the verifier to have knowled

[2020-07-02 04:40] jonnycrunch commented on #27
BBS+ by itself seem perfectly fine to be audited under ursa, I'm concerned about the selecting points on the pair-friendly curve representing values derived from the JSON-LD layer.   Are those truly random or can a pattern emerge such that I can infer the values based on distancing and patterns like in Ulam's spiral.  So..... JSON-LD layer.

[2020-07-02 05:02] tplooker commented on #27
@jonnycrunch thanks for clarifying, there is no point selection occurring at the JSON-LD layer, take for instance the `blsSign()` interface this takes in a key pair for the issuer and an array of messages (N-Quads). If there was say 5 messages then 5 generator points are derived from the issuers public key + an incrementing counter in a deterministic manner (on purpose) as this information is inte

[2020-07-02 05:05] tplooker commented on #27
Each message is then committed to its respective generator point when creating a BBS signature.

[2020-07-02 05:12] tplooker commented on #27
@jonnycrunch this is the definition in our current draft of the scheme https://mattrglobal.github.io/bbs-signatures-spec/#name-dpktopk

[2020-07-02 05:15] wyc commented on #27
Hey, could be useful to reach some further clarification here.

1. @tplooker By "original author" of BBS+, do you mean the implementor of [the bbs crate](https://crates.io/crates/bbs)? It seems that the the authors of [this paper](http://web.cs.iastate.edu/~wzhang/teach-552/ReadingList/552-14.pdf) would have a claim to origin authorship of the term.
2. @jonnycrunch Are you referring to the somewha

[2020-07-02 07:06] tplooker commented on #27
@wyc good idea, by authors I mean those that are responsible for one of the most recent academic revisions of BBS+ signatures, see here https://www.researchgate.net/publication/306347781_Anonymous_Attestation_Using_the_Strong_Diffie_Hellman_Assumption_Revisited section 4.3. @mikelodder7 can provide more detail on this.

[2020-07-02 12:42] mikelodder7 commented on #27
The original authors of the BBS+ signature are Boneh, Boyen, and Shachum and has been improved many times but the cryptographers that @tplooker is referring are Jan Camenisch, Manu Drijvers, and Greg Niven, formerly at IBM Zurich, now at Dfinity. Manu Drijvers is one of the maintainers on the Ursa project.

The BLS12-381 curve is quick becoming the pairing curve of choice. For example, it's going

[2020-07-08 22:38] OR13 commented on #27
Seems like this is actually a request for an audit of `URDNA2015`.... Which seems to finally getting some attention...
- https://github.com/multiformats/multicodec/issues/149
- https://github.com/multiformats/multicodec/issues/180

We might want to make this dependency a little clearer, but from a security perspective... it relies on sha256...

https://json-ld.github.io/normalization/spec/#dfn-has

[2020-07-10 04:54] jonnycrunch commented on #27
@mikelodder7 @tplooker I'm not worried about the selection of the BLS12-381 nor the hash to curve,  I'm wondering about the conversion of the JSON-LD into a block of messages and whether that leaks data. At first, I thought this was a numerical off-set from the incremented counters.  But, looking at the spec this seems like a BBS+ signature over a group of Pedersen Commitments derived from the LD-

[2020-07-10 05:24] mikelodder7 commented on #27
Right now, messages are Blake2b hashed which has stronger properties than sha256. In addition, a random nonce is added to signatures of high entropy. With that knowledge, I’m failing to see any leaks In Patterns or anywhere else

[2020-08-30 14:53] tmarkovski commented on #2
Should this also include blinded signature format? Or can that process be extrapolated from the signature document?

[2020-08-30 23:02] tplooker opened #35 "Document the rationale for the signers public key in G2 over G1"
The spec to some extent should aim to document some of the rationale around key decisions that have been made in reference to BBS+ signatures, the below at least aims to capture some of this thinking to date.

BBS+ signatures depend on a pairing friendly elliptic curve (we use BLS12-381), in general one of the things that makes a pairing friendly curve special and allows us to create BBS+ signatur

[2020-08-31 00:26] tplooker commented on #2
@tmarkovski usually you do not put a signature in something like a did document you put the material required to verify a signature there.

Conceptually we have been toying with the best way to describe the concept, let me know if the following makes any sense.

At present in the spec we have defined two cryptographic suites BbsBlsSignature2020 BbsBlsSignatureProof2020 and with these we can achiev

[2020-08-31 00:33] tplooker commented on #2
@tmarkovski above is really a starting effort to document how exactly we see this working and I realise it is potentially an expansion or pivot away from your original question.

[2020-08-31 12:00] tmarkovski commented on #2
@tplooker Thanks for the explanation, this makes sense. It's similar to what I was asking, if a signature suite will be defined for blinded commitment and blinded signature. In the current BBS+ API (at least the FFI one) the linked secret feature can be solved through the blinding commitment API. However, this process will require application level conventions and multiple proofs in the final deri

[2020-08-31 12:03] tmarkovski commented on #35
If any, document private key security differences (or implications) between G1 and G2.

[2020-08-31 12:19] tmarkovski commented on #16
It's my impression that this change has already been implemented.

[2020-09-06 23:44] kdenhartog commented on #16
In the typescript implementation and the examples it appears that base64 is being used rather than base64url without padding.

Here's a reference to the typescript code that's using base64:
https://github.com/mattrglobal/jsonld-signatures-bbs/search?q=Base64&unscoped_q=Base64

Here's a reference to an example that uses base64 with padding:
https://github.com/w3c-ccg/ldp-bbs2020/blob/c60931f14120a9

[2020-09-07 00:57] tplooker commented on #35
Good question, ping @mikelodder7 to confirm but to my knowledge no, the main tradeoffs are as I have described above

[2020-09-07 02:46] mikelodder7 commented on #35
No security is the same for each field

[2020-09-08 22:01] tplooker opened #37 "Privacy preserving subject authentication mechanism for application with verifiable credentials"
BBS+ Signatures are a generalized digital signature scheme appropriate for a variety of applications, however their most immediate application is in the context of [verifiable credentials](https://www.w3.org/TR/vc-data-model/).

[Verifiable credentials](https://www.w3.org/TR/vc-data-model/) in general define a cryptographically verifiable assertion format that allows an issuing authority to assert

[2020-09-08 22:25] OR13 commented on #37
`subjectVerficationMethod`.... is known to the issuer... why not use `credentialSubject.id` here... and simply not reveal that statement when constructing the selective disclosure presentation?...

IIRC `credentialSubject.id` can be any URI... including `did:example:98765#1`

It feels like not revealing the credentialSubject.id but revealing image / age might be a better example.

Assuming `subjec

[2020-09-08 23:04] tplooker commented on #37
The main issue with this approach that then the generated N-Quads for the statements in the credentialSubject would then have to feature this ID meaning it would have to be known to a verifier and if not we would have to do some pretty weird credential specific logic about striping out credentialSubject.id before and after signature creation and verification.

Yeap much like the signature proofs t

[2020-09-09 13:49] OR13 commented on #37
This makes sense, I also agree its wise not to take the VC Data Model as a dendency... everything can fit in the `proof` object.

[2020-09-09 13:51] OR13 commented on #37
perhapse we would avoid the term subject....

`subjectAuthenticationMethod`

`authenticationMethod` / `boundAuthenticationMethod`...

[2020-09-18 16:45] OR13 commented on #37
https://github.com/multiformats/multicodec/pull/185 has been merged.

@tplooker wondering if we should define this key representation here now?

We should generate some test vectors for G1 / G2 and (G1 + G2), and then provide JWK, base58 and multicodec examples.

[2020-09-18 17:28] dlongley commented on #37
My only comment is that you'll want to make sure that the proof purpose is for `authentication` when creating an authentication proof -- as opposed to `assertionMethod`.

[2020-09-18 22:45] tplooker commented on #37
@dlongley I think this is worth pondering a little more. A `BbsBlsBoundSignatureProof2020 ` is unique in the sense that it is proving that the information was originally signed by the issuer and also authenticating the party who generated the proof. Currently in the example I have provided its quite clear about the role of the issuer but not the party who generated the proof.

[2020-09-18 22:47] tplooker commented on #37
@OR13 agree it would be a good next step. As far as test vectors we have some preliminary support for JWK for G1 and G2 [here](https://github.com/mattrglobal/bls12381-key-pair/tree/master/__tests__/__fixtures__) although they would not rise to the standard of a test vector yet.

[2020-11-13 19:00] andrewwhitehead opened #40 "Skeleton-based signing?"
Rather than signing each statement of the N-quads, I'm interested in whether the whole 'shape' of the original document could be signed, with optionally-revealed values contained in subsequent messages. For example, taking the following document:

[code]

The statements might be normalized as follows:

[code]

This entire block could be signed for a simple credential with all the statements being

[2020-11-13 22:34] kdenhartog commented on #40
Just checking to make sure I understand the proposal correctly first. Is the intent to do both the separation of the value (`30`) in the N-Quad for selective disclosure and also to be able to bind N-Quad statements within the same node to each others (e.g. the memberId, memberAge, and State property N-Quads are all combined into a single message?

[2020-11-13 22:39] andrewwhitehead commented on #40
@kdenhartog Basically, all the N-Quad statements resulting from the normalized document would be combined in message 0, while the object of those statements might be deferred to a later message if it's optionally revealed.

[2020-11-13 23:02] kdenhartog commented on #40
Ok thanks. I'll have to think about the implications on revealing the document structure a bit before I write up a response. On first gut reaction I think this could impact the privacy, but I want to convince myself by thinking through a few use cases to see if it's desirable or not.

[2020-11-17 01:47] tplooker commented on #40
@andrewwhitehead interesting concept, how would I if I signed all messages in the first one selectively reveal, wouldn't revealing this message reveal all the data?

[2020-11-21 23:38] andrewwhitehead commented on #40
@tplooker The first message would use placeholders for the selectively revealed messages. Those placeholders would refer to subsequent messages (by their index). I think there would need to be a basic validation rule that all {1..N} messages must be referenced in the zeroth message, and can only be referenced once.

[2020-11-23 19:52] tplooker commented on #40
@andrewwhitehead ok cool understood, could you explain why we would need to sign a skeleton like this what are the benefits?

[2020-11-23 20:36] andrewwhitehead commented on #40
So the main benefits as I see it..

- Required-revealed indexes are not a thing – if an attribute is required to be revealed (such as revocation info), then it would just be included in the first (zeroth) message. It also makes things quite simple in cases where there are no optionally-revealed properties, in that the issuer just converts the document to N-quads and signs the result in one message

[2020-11-25 22:54] kdenhartog commented on #16
Related discussion:

_Originally posted by @dlongley in https://github.com/w3c-ccg/security-vocab/pull/78#discussion_r530583389_

After looking at what other suites are doing, I'm thinking it would be valuable for us to consider switching this to multibase format.

[2021-01-18 01:03] OR13 opened #41 "Register w3id.org/bbs/v1"
https://github.com/perma-id/w3id.org/pull/1977

The purpose of registering this perma url it to help with security context code splitting.

[2021-02-04 03:57] tplooker commented on #41
This is complete? Reopen if not

[2021-02-04 03:57] #41 closed

[2021-02-04 04:00] tplooker opened #42 "Qualify the proofValue term definition with @type of https://w3id.org/security#multibase"
With the type of this value set on both the BBS+ Signature and Signature Proof technologies like CBOR-LD can apply a codec to compress the values representation in binary

[2021-03-12 16:19] OR13 commented on #27
@jonnycrunch are you volunteering to do an audit? I don't know how to make this issue actionable.

[2021-03-26 18:14] OR13 opened #45 "Should credential id change for derived proofs"
Originally noted here: https://github.com/w3c-ccg/universal-wallet-interop-spec/issues/73#issuecomment-808153631

by @sudeshrshetty

From an information modeling perspective, does it make sense that a `selective disclosure capable credential` and `derived disclosure credential` should have the same `id`? I think so, but it obviously makes the ID none unique, which can cause problems...

Note:

[co

[2021-03-26 18:15] OR13 commented on #45
@tplooker @msporny @dlongley any issue with this or comment we should make in the spec?

Seems like at a minimum we should warn consumers of `BbsBlsSignatureProof2020` about non-uniqueness of `id`.

[2021-03-26 18:56] dlongley commented on #45
I also think it makes sense for the `id` to be the same. Aren't the derived credentials ephemeral anyway? I'm not sure why those would be stored but I haven't had the same contact with the problem space as others have yet. I think a warning about how, since the derived credential is really just a subset of information about the same credential (selective disclosure), it has the same `id`.

[2021-03-26 19:11] brentzundel commented on #45
imo, if present, the derived credential ID should be the same as the origin cred's credential ID, but also that in most cases it should not be present in the derived credential at all.

[2021-03-26 19:28] dlongley commented on #45
I think "most cases" is too hard to judge. There are use cases for both. Sometimes you want a correlation handle on the VC (if one is not provided, you'll just need to substitute another or the interaction won't be sufficiently secure), other times you're dealing with, for example, short-lived/non-revocable credentials where such an identifier is not useful and the correlation it brings is undesir

[2021-03-26 22:27] brentzundel commented on #45
@dlongley totally agree there are cases for both, but if it is possible to get the security that is needed without providing a correlating identifier, then it is best to not disclose the credential ID even in the case of long-lived/revocable credentials. I say "most cases" not out of dogmatic adherence to principle, but rather from the belief that in most cases it should be possible to provide the

[2021-03-27 22:09] tplooker commented on #45
Agreed.

Currently the way the algorithm works, because of the underlying usage of RDF Dataset Normalization if you have a credential with an id, any derived credential will need to reveal that id. However if you don't have an id then there is nothing to reveal.

[2021-03-29 17:18] brentzundel commented on #45
I had a thought this weekend. Revealing it probably only betrays my lack of understanding of RDF.
Would a derived credential be considered a subgraph of the RDF graph that is the source credential?
If so, should a sub-graph have the same ID as the graph?
Am I even making any sense?

[2021-03-29 17:34] OR13 commented on #45
@brentzundel my understand is that retaining the same `id` is consistent with the general pattern of use.

I think the proposal should be:

1. Warn users not to disclose `credential.id` unless required to do so.
2. Warn users that it likely won't be unique which shouldn't be a problem since the derived proof SHOULD be only used ephemerally.

The problem may be more of an issue for verifiers who st

[2021-03-29 17:34] dlongley commented on #45
The ID we're talking about is for the VC, which is not a graph but there are statements about it that can be presented in a graph. Those statements may be selectively disclosed if you're using BBS+. So one graph may have N statements and another may have N + M. But those statements are about the same VC, so the ID should be the same, IMO. Again, it's also fine if the VC has no ID -- as @tplooker s

[2021-03-29 17:58] brentzundel commented on #45
Makes sense, thanks for clarifying.

[2021-04-04 03:30] tplooker commented on #42
This would be a breaking change to the suite, so I would rather address it in a new 2021 cryptographic suite.

[2021-04-08 03:24] kdenhartog commented on #45
If we changed the ID during proof generation wouldn't that break verification anyways because the signature would no longer be bound to the original document? In other words, wouldn't changing the ID be essentially breaking the integrity of the document.

[2021-04-19 21:57] brentzundel opened #49 "should `requiredeveal_statements"

[2021-04-19 21:58] #49 closed

[2021-04-21 20:57] kdenhartog commented on #37
@brentzundel I can't assign. Trying to tag you to see if that makes it possible.

[2021-04-21 21:00] kdenhartog commented on #10
@TimoGlastra said during IIW that he was going to take this issue.

[2021-04-23 09:17] TimoGlastra commented on #10
@kdenhartog RE your note in #37. I just discovered you can only assign outside collaborators when they've commented. So here's my comment

[2021-04-23 16:40] brentzundel commented on #37
commenting so I can be assigned

[2021-04-23 17:41] OR13 commented on #37
@brentzundel sorry I missed the session on this. I assigned you, lmk how I can help.

[2021-04-27 20:48] brianorwhatever commented on #45
I believe this question only has one answer. A derived credential should have the id of the credential itself as it is the same credential and not a new one. Ideally this derivation flow should be analogous to showing someone a paper document with some of the information redacted.

[2021-04-28 16:08] TimoGlastra opened #50 "Remove required reveal statements from 2020 suite"
During the BBS+ IIW session the topic of required reveal statements came up.

I think the agreement was to remove the property from the 2020 suite.

Is this correct?

[2021-04-28 16:14] TimoGlastra opened #51 "Mention the `proofValue` and `nonce` values must be base64 encoded"
As the title suggests. It is not clear from reading the spec that the values must be base64 encoded

[2021-04-28 16:16] TimoGlastra opened #52 "Update the `signature` property in BbsBlsSignature2020 spec to `proofValue`"
The spec still mentions `signature` while all implementations (and the LD context) use `proofValue`

[2021-04-28 18:16] TallTed commented on #45
I do not believe `ex:derivedFrom` is the same relation as `owl:sameAs`.

A Derived Credential -- i.e., *partial* information, *some* properties, from a Verifiable Credential, maybe even some properties *based on but not actually the same as* properties in the VC -- contained in a Verifiable Presentation is not the same as the original Verifiable Credential (with all properties), and giving this De

[2021-04-28 18:16] brentzundel commented on #50
That was my understanding

[2021-04-28 18:29] OR13 commented on #45
@TallTed thanks.

At least in terms of the mechanics of the suite.

I believe you could choose not to disclose the `credential.id`... so its possible that derivations might not have the same `id`....

as others have pointed out, not revealing `credential.id` might be a best practice here.

It seems like the proposal is IF the derived credential has an `id` it MUST be the same (cryptographic requir

[2021-04-28 18:44] TimoGlastra commented on #45
As I understand you can't NOT disclose the `credential.id` due to how JSON-LD works.

From Tobias' comment above:

[2021-04-28 18:53] dlongley commented on #45
My understanding is that some important constraints of the BBS+ crypto and RDF are:

1. If the VC has an ID, it MUST be disclosed if any of the other attributes about the VC are disclosed. This is because the signed RDF triples/quads for the attributes include the ID itself in the RDF subject position.
2. You can't *add* new triples/quads/attributes that were not signed by the issuer.

I expect th

[2021-04-28 18:53] OR13 commented on #45
@TimoGlastra thanks... then that is a bit sad... I see the problem. better to make the `id` safe to disclose.

[2021-04-28 19:04] TimoGlastra commented on #45
Another approach would be to use another property instead of `id` if you really need a selectively disclosable identifier. Such as the `identifier` property in citizen vocab (https://w3c-ccg.github.io/citizenship-vocab/#identifier)

[2021-04-29 02:27] kdenhartog commented on #51
Agree the encoding should be normatively stated. I think it may be useful for us to look at multibase encoding or base64url no padding as well which is discussed in #16

[2021-04-29 02:30] kdenhartog commented on #52
@TimoGlastra this is a pretty small one. Do you mind if I assign it to you?

[2021-04-29 02:32] kdenhartog commented on #50
I've assigned this to myself. I can take it.

[2021-04-29 02:38] kdenhartog commented on #45
I could see this as a viable solution for generic LDPs, but likely is going to break some processing logic for LDPs that are also VCs. If we go this route, we'll likely need to make modifications to the VC spec which makes me hesitant towards that approach.

[2021-04-29 06:31] TimoGlastra commented on #52
Yes I can take this one

[2021-04-29 17:05] brianorwhatever opened #53 "Differing statement digest algorithms?"
Is there a reason The BBS+ Signature Suite 2020 and The BBS+ Signature Proof Suite 2020 have differing statement digest algos? I also don't see the statement digest algo being used in the "Create Derive Proof Data Algorithm" at any point?

[2021-04-29 17:48] tplooker commented on #53
Thanks @brianorwhatever addressed in #54

[2021-04-30 06:17] brianorwhatever commented on #53
out of curiosity why was this algorithm picked?

[2021-04-30 06:25] brianorwhatever commented on #53
also, how does the algorithm get used in the proof suite?

[2021-05-03 18:59] tplooker commented on #53
@mikelodder7 can confirm why the current algorithm was chosen. As to how it is used, every message/statement that is signed has to be digested/hash first this algorithm defines how this is performed.

[2021-05-04 04:33] mikelodder7 commented on #53
Blake2b was chosen because it’s flexible in its output length, faster than sha2 and sha3, is widely used, is optimized for 64  bit architectures, and blake3 was close to being released at the time and is out now.

[2021-05-04 04:34] mikelodder7 commented on #53
The hash algorithm is used to create the schnorr proof challenge hash

[2021-05-04 21:03] brentzundel commented on #37
I am working on a PR to add this feature. It is not clear to me how the privacy of the holder is preserved when presenting a proof bound to their public BLS key. The example VP contains a reference to the holder's DID URL.
@tplooker or @mikelodder7  can someone walk me through this step by step so I can write it up?

[2021-05-04 22:37] mikelodder7 commented on #37
@brentzundel thats why I wrote this up

https://github.com/mikelodder7/commit_twin.

The party storing the public keys knows your unique commitment in order to present but they don’t know your secret value. Also the public key is a pedersen commitment so it’s different per party and there’s no way it can be cross correlated between colluding parties

[2021-05-09 20:59] tplooker commented on #37
@brentzundel thanks for reporting back, we should discuss this proposal further as the proposal of commit twin IMO is not directly about the credential binding technique instead it is how this binding can be used to achieve certain pseudonymity properties on top of the scheme. In essence I would like the binding to a credential to simply be a public key rather than a blinded public key (linked sec

[2021-05-10 21:31] #52 closed

[2021-05-10 21:31] #53 closed

[2021-05-10 21:33] tplooker commented on #37
@brentzundel understood, so if it is issuer correlation you are concerned about in this case, then it is solved by simply having a different public key per issuer. Because this public key is never revealed when generating a presentation with a verifier I believe all avenues of correlation we typically talk about are prevented?

[2021-05-10 22:06] brentzundel commented on #37
okay, that makes sense. Thank you for clarifying that for me.
And thank you for walking me through this.

Here are the steps, as I understand them:
1. holder possesses a BLS public/private keypair
2. holder gives public key to issuer
3. issuer incorporates public key into issued credential
4. holder receives credential

5. verifier requests presentation
6. holder generates derived credential for p

[2021-05-10 22:43] tplooker commented on #37
Yes that flow is correct.

As is the case with all "messages" signed to produce a BBS signature, if your issuer public key is in G2 then the messages being signed have to result in being commitments in G1. The subject's public key is really just a special case of one of these messages that is being signed, special because:
1. It uses the base generator in G1 (rather than an issuer specific generat

[2021-05-10 22:45] tplooker commented on #37
That last point is why I felt the linked secret design added complexity that threatened implementability of the scheme as with a blinded public key or linked secret style binding, the proof of knowledge of the secret key becomes another thing you have to define, rather than saying "we'll just use BLS signatures for that piece".

[2021-05-20 17:34] mikelodder7 commented on #37
I agree with @brentzundel. I think that while this proposal is great, requires a good amount of cryptographic review and should not block the release of 2020 given the other changes we'd like to make to the spec after than.

[2021-05-31 04:04] kdenhartog opened #58 "Update JWK examples to match the BLS JWK draft"
see here for documentation: https://github.com/mattrglobal/bls12381-jwk-draft/blob/main/draft-denhartog-pairing-curves-jose-cose.txt

Key take aways
1. Uses OKP instead of EC
2. Strings have been modified a bit based on discussion with @OR13 and @troyronda who were known implementors at the time.

[2021-06-01 14:30] OR13 commented on #58
@kdenhartog make sure to update this everywhere, as soon as the draft is stable...

especially in the security vocab.

[2021-06-03 19:04] #40 closed

[2021-06-03 19:04] andrewwhitehead commented on #40
Closing as out of scope for this suite

[2021-06-07 10:22] kdenhartog commented on #58
How stable are you thinking here? Like RFC for informational draft and registered in IANA or "we think we've got it solved and are waiting for standards process to finish".

I've sent a message to secdir at IETF in hopes of finding a way to take this through the RFC process at IETF, but I've not heard back yet. IETF is still an enigma to me.

[2021-06-07 18:09] OR13 commented on #58
@kdenhartog IMO, as soon as you have a perma url for a draft submitted to an SDO its worth updating the ccg document

[2021-06-09 04:55] kdenhartog commented on #58
Sweet, I've got it here now: https://datatracker.ietf.org/doc/draft-denhartog-pairing-curves-jose-cose/

[2021-07-27 16:17] BasileiosKal opened #60 "Blank node labels may leak information"
To my understanding, the URDNA2015 canonicalization algorithm calculates the hashes of the reference sets of each blank node, it sorts them alphabetically and assigns labels in that order (if those hashes are unique). That order would be partially revealed to the Verifier (#10) and could leak information about the non-disclosed claims (even revealing the secret claims in some cases).

For example,

[2021-07-27 23:00] dlongley commented on #60
That's a strong assumption. What if, instead, for example, there is an equal likelihood that any of `(total names in the world) / 2` could have been used?

That may be true but may also not have any practical significance. Perhaps a better example would have used a boolean value.

There was another important assumption in the example, which was that there could not have been any other quads or bla

[2021-07-27 23:04] dlongley commented on #60
With respect to using LDP BBS+ with VCs (perhaps its most common -- or only? -- use) is that at least one other blank node (from the VC itself) would be involved. Some analysis should be performed to understand how this affects the (potential) issue.

[2021-07-28 10:57] BasileiosKal commented on #60
Yes, you are right. I do think that it depends on the example, though. For the example I presented I have checked that ‘’Kaiya’’ is indeed the only name (from a list of ~19000 English names) for which this inequality holds. For other examples, it could be anything (like total_names/2 or 20) depending on the credential and the disclosed claims.

If I understand your point correctly, it is true that

[2021-07-28 15:18] dlongley commented on #60
Right, and as mentioned above, I'd think there could be examples where the possible values were from a much smaller set (e.g., a boolean or a simple enum) where a hash reordering could negatively impact the privacy of more people.

My understanding is that for BBS+ credentials, both the `credential` itself and the `credentialSubject` would not have IDs, meaning they *would* be blank nodes. I think

[2021-07-29 01:30] tplooker commented on #60
@BasileiosKal im failing to see how this scheme may reveal the value of an un-disclosed claim? You are correct in assuming that the scheme does digest each N-Quad individually and on validation of a derived proof the claims that are revealed are re-digested and validated appropriately to the presented proof. However, for claims that are un-disclosed you do not know even the hash of the un-disclose

[2021-07-29 01:34] tplooker commented on #60
Can you elaborate on what you mean by `h(Q1) > h(Q2)` are you intending on this meaning the value of h(Q1) is greater than h(Q2). If so what does this mean in reference to the cryptographic scheme of BBS+?

[2021-07-29 01:45] tplooker commented on #60
Furthermore the ordering of the N-Quads in their canonical form is the order in which they are digested and signed, the scheme does not order based on the digests of each N-Quad so again I can't understand what evaluating `h(Q1) > h(Q2)` actually proves in reference to this scheme?

[2021-07-29 02:06] tplooker commented on #60
Sorry when I originally read this issue I could not follow your example, I understand now, this is due to the blank node allocation algorithm. Further analysis should be performed on this scenario as on first glance it appears to depend on quite a few conditions being true:

1. No other blank nodes in the originally signed payload that are un-revealed.
2. No other claims in the target blank node o

[2021-07-29 18:28] BasileiosKal commented on #60
@tplooker I may be terribly mistaken, but I do believe that even in cases where those 2 assumptions do not hold, there could be a potential problem. The second example I previously listed perhaps showcases this.

    {
      "@context": [
        "http://schema.org/",
        "https://w3id.org/security/v2"],
      "type": ["VerifiableCredential"],
      "issuer": "did:example:489398593",
      "id

[2021-07-29 18:33] BasileiosKal commented on #60
@dlongley thank you, I do believe I have a better understanding of your proposal now. The only occasion I can think of where additional “randomness” may be needed, is in the -perhaps rare- cases where there are a lot of nested values forming a larger “blank nodes path”. There, the random quad added to the initial blank node (the one corresponding to the `credential`) would not affect the later one

[2021-08-04 20:18] andrewwhitehead opened #61 "Signature/proof formats are undocumented"
Unless I've missed it, neither this specification nor the BBS+ signatures spec defines the encoding for a BBS+ signature or for a PoK of a signature. The signature is fairly simple, although the compression and endianness need to be explicit. The proof encoding is rather more complicated.

[2021-08-05 08:59] tplooker commented on #60
@BasileiosKal @dlongley I've implemented the proposed solution as discussed above over [here](https://github.com/mattrglobal/jsonld-signatures-bbs/tree/tl/blank-node-determinism-fix). Basically during signing/verifying and deriving of a proof the nonce from the proof block gets injected into the root of the document as a source of randomness which effects the blank node allocation. However the non

[2021-08-10 20:35] BasileiosKal commented on #37
Hi all!

I also have a question regarding this proposal.

### Question:

If I’m not mistaken, the BBS+ proofs of security against adaptive message attacks [here](https://eprint.iacr.org/2016/663.pdf) and [here](https://eprint.iacr.org/2008/136.pdf), take for granted that no message will be signed using the base generator of G1. If this is not enforced, a Holder could potentially forge a BBS+ signa

[2021-08-10 22:33] mikelodder7 commented on #37
That's not entirely accurate. The math doesn't exactly check out as you describe.
First off, let's define what a forgery means. It means that Alice initially had signed `HOLDER_SK` but can now use another value by manipulating the signature to show that something else was signed. Let's assume Alice multiplies by 2 as you suggest and use g_0 and Alice gives the signature and values to another party

[2021-08-11 00:37] BasileiosKal commented on #37
@mikelodder7  Thank you very much for your reply. I entirely agree, but just to make sure that I correctly understood your definition;
   As a forgery, I denote the ability of an adversary to generate a valid signature for some values, on behalf of the Issuer, without knowing the Issuer’s secret key. Furthermore, a forgery can be achieved with an attack like an adaptive chosen-plaintext attack, wh

[2021-08-11 03:08] mikelodder7 commented on #37
It’s not a security problem because that is similar to how the zero knowledge proof works. You randomize the signature and hidden values and balance the equation. So multiplying by 2 is similar to making a ZKP. The problem is if you modify the signature you have to modify EVERY value to make it work. Of course this has nothing to do with g_0. That’s a separate problem so there is no security probl

[2021-08-11 08:46] BasileiosKal commented on #37
I’m sorry, but I don’t think I understand your point. It is true that during ZKP generation `A` is multiplied by a random number, but I don’t see how that prevents Alice to forge a signature beforehand (assuming g_0 is used to commit messages).

Maybe I’m mistaken, but I think that the above method is only possible if a Holder can make commitments (like a BLS public key) using g_0. If that is not

[2021-08-11 12:40] mikelodder7 commented on #37
Again look at your equations. They don’t balance. So no this is not a forgery

[2021-08-11 12:41] mikelodder7 commented on #37
Another reason is the messages must be revealed or use schnorr proofs. The verifier will only follow the verify equation which makes it so it doesnt balance

[2021-08-11 17:31] BasileiosKal commented on #37
First, I want to really thank you for taking the time to answer me here!

All messages can be viewed (by Alice) as elements of Z*p, which means that she can divide them (multiply with the inverse technically). Then she could use the result of that division to the exponent. Alternatively, she could raise an element to the power of the inverse of the message she wants to divide with (the Verifier do

[2021-08-11 19:10] BasileiosKal commented on #37
I don’t really see what the problem is if every value is m3 bigger, I would really appreciate it if you could explain that to me a little more.

Both (1/(e+x)) and 1/m3 are essentially elements of `Z*p` and they could be treated as any other `Z*p` element on the exponents. As a result, I think you could carry them through (since also the operation in any finite field is commutative).

[2021-08-11 19:13] mikelodder7 commented on #37
I think this would be better in a meeting than debating mathematics in GitHub. Email me and let’s discuss but your proposal for the vulnerability does not work

[2021-08-21 11:26] BasileiosKal commented on #37
Hi all!

I met with @mikelodder7 where he was kind enough to explain to me what I was missing.

In the end we concluded that using the base generator of G1 to create a commitment (BLS public key) may not be the best practice, since it can -in theory- lead to a potential forgery.

Although this may not have any practical significance, perhaps it would be best to reserve a different generator (g0’)

[2021-10-04 21:13] OR13 opened #62 "BbsSignatureProof2020 is broken"
The current libraries for handling the proof of knowledge are sensitive to disclosed message order, in ways that make certain derived credentials (ones over multiple blank nodes) not verifiable.

This is not a break in the crypto, it is an assumption about revealed statement order which needs to be accounted for.

It's not the job of this suite to define this, but we can't call whatever the soluti

[2021-10-04 21:15] OR13 commented on #62
See also: https://github.com/mattrglobal/jsonld-signatures-bbs/issues/158

[2021-10-05 01:45] andrewwhitehead commented on #61
Yup, related issue: https://github.com/decentralized-identity/bbs-signature/issues/2

[2021-10-18 14:11] jkbpvsc opened #63 "LDP BBS+ Signatures using JSON Pointer normalization"
In the scope of our [work item](https://github.com/w3c-ccg/community/issues/204), we are planning to introduce a new canonicalization method with JSON Pointer normalization for use with LDP BBS+ Signatures.

What is the best approach for introducing this change in the LDP BBS+ Signatures specification?

We can either extend the existing [LDP BBS+ Signatures 2020 specification](https://w3c-ccg.gith

[2022-01-08 00:55] OR13 opened #64 "Cross linked to ZKP-LD Playground"
https://github.com/yamdan/zkp-ld-playground/issues/1

Some related work (not exactly the same as this spec).

https://playground.zkp-ld.org/

[2022-02-01 14:03] OR13 commented on #62
This issue is still unresolved and the BBS+ work at DIF has chosen to address other issues instead of this issue.

[2022-04-24 16:18] echenknox opened #65 "Believe it is a typo in chapter 6.1.1 step 1"
In [chapter 6.1.1 step 1 ](https://w3c-ccg.github.io/ldp-bbs2020/#create-verify-data-algorithm-0)
It states as

From the context, there's no mention of the blind message. And It doesn't look like it is related to blind signature here. I believe it meant to use the word "bind".

[2022-07-31 15:20] peacekeeper commented on #3
It looks like this is currently mandatory in the spec: https://w3c-ccg.github.io/ldp-bbs2020/#required-reveal-statements

But not defined in this JSON-LD context: https://w3c-ccg.github.io/ldp-bbs2020/contexts/v1/

[2022-08-08 11:28] TimoGlastra commented on #3
No implementations of this spec (that I'm aware of) have actually implemented the `requiredRevealStatements`. It's not in the MATTR libraries, but also not in the separate implementations done for Aries Cloud Agent Python and Aries Framework Go